[submodule "ANTLR_GrammarFiles"]
	path = ANTLR_GrammarFiles
	url = https://github.com/antlr/grammars-v4.git
[submodule "pytorch-transformers"]
	path = pytorch-transformers
	url = git@github.com:huggingface/pytorch-transformers.git
